* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
.logo {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;  

}
.header { 
    background-color:#72371B;   

}
body {
    background-color: #ff6624;
    background-image: url("./images/sunrise.jpg");
    background-size: cover;
}

.section-tag {
    font-size: 20px;
    padding-bottom: 15px;
    margin-left: 135px;
}

.article-picture {
    width: 195px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
}
.article-topic {
    font-size: 14px;
    color: #1d51b6;
}
.reading-time {
    font-size: 14px;
    color: #0b4940;
}
.article-title {
    font-size: 16px;
    color: black;
    padding-top: 6px;
    padding-bottom: 4px;
}
.article-by,
.article-date {
    font-size: 14px;
    color: #761b0e;
}
.recent-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 140px;
}

.article-container {
    width: 200px;
    height: fit-content;
    padding: 10px;
    background-color: #ffffff;
    opacity: 95%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.article-container:hover {
    opacity:100%
}

/* STORIES STYLING */

.story-container {
    padding: 40px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    margin: 40px;
    border-radius: 10px;
    text-indent: 40px;
}

.story-title {
    font-size: 40px;
    padding-bottom: 20px;
    line-height: 1.1;
    text-indent: 0;
}

.story-subtitle {
    font-size: 30px;
    padding-top:20px;
    padding-bottom:20px;
    line-height: 1;
    text-indent: 0;
}

.story-image {
    width: 50%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.story-list {
    list-style-type: square;
    list-style-position: inside;
}

.story-by {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 0;
}

.story-date {
    font-size: 15px;
    text-indent: 0;
}

.twitter-tweet {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#snowdonmap {
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: 10px;
    padding-bottom: 20px;
}

#cbsNewsVideo {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#bmi-button {
    padding: 10px;
    margin: 30px;
    background-color: white;
    color: #02422b;
}

.calculator {
    width: 130px;
}

.calculator-agreement {
    display: flex;
    padding: 40px
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: #a35d17;
    border-radius: 10px;
    }

.left-menu {
        width: 120px;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #D08F30;
        font-size: 16px;
    }
      
.left-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
      
    .left-menu li {
        padding: 20px;
    }
      
    .left-menu li:hover {
        background-color: #A35D17;
    }
      
    .left-menu a {
        text-decoration: none;
        color: #333;
    }
      
    .left-menu a:hover {
        color: #fff;
    }
